html {
  font-size: 16px;
}

#left {
  padding-left: 5rem;
  padding-top: 2rem;
  width: 30%;
}

.bio {
  display: flex;
  flex-direction: column;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  float: left;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.greeting {
  float: left;
  font-family: 'rubik', sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
}

.summary {
  float: left;
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.contactInfo {
  display: flex;
  float: left;
  padding-top: 5rem;
}

.contactInfoItems {
  list-style: none;
  padding: 0;
}

ol {
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 1rem 0;
}

a:link {
  text-decoration: none;
}

