
html {
  font-size: 16px;
}

body {
  background-color: #fafaf9;
  display: flex;
  height: 50rem;
}

#left {
  padding-left: 22%;
  padding-top: 3rem;
  min-width: 18%;
  max-width: 20%;
}

#right {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 3rem;
  max-width: 28rem;
  overflow: scroll;
}

.bio {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  float: left;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.greeting {
  float: left;
  font-family: 'Rubrik', Arial, sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  background: -webkit-linear-gradient(30deg,#da7777, #868591);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.summary {
  float: left;
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  min-width: 50%;
  color: #868591;
}

.contactInfo {
  display: flex;
  float: left;
  padding-top: 3rem;
  margin-left: -1rem;
  font-size: 0.75rem;
}

.contactInfoItems {
  list-style: none;
  padding: 0;
}

ol {
  font-family: 'rubik', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
}

ol:hover {
  background-color: #fbd2d2;
  border-radius: 0.5rem;
}

a { 
  text-decoration: none; 
}

.buttonText {
  color:#da7777;
}

.nav{
  float: right;
  font-family: 'rubik', Arial, sans-serif;
  height: auto;
  width: 26rem;
  margin-left:auto;
  margin-right:auto;
  position: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #da7777;
  text-align: center;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #da7777;
  color: #ffffff;
  border-radius: 8px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #da7777;
  color: white;
  border-radius: 8px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#projects{
  padding-top: 4rem;
}

.projectCard {
  margin: 2% 5%;
  height: 10rem;
  width: auto;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectTitle {
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding-top: 1rem;
  line-height: 1.5rem;
  color: #868591;
}

.projectTagline {
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-right: 2rem;
  color: #868591;
}

.projectCard:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: rgba(125, 125, 131, 0.2) 0px 7px 29px 0px;
}

/*
.seeMoreButton {
  display: flex;
  height: 2rem;
  width: 28rem;
  margin: 1% 5%;
  box-sizing: border-box;
}

button {
  margin: 0 auto;
  font-family: 'rubik', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  color: #333;
  background-color: #fafaf9;
}

button:hover {
  color: #3E56D3;
}
*/



