html {
  font-size: 16px;
}

body {
  background-color: #fafaf9;
  display: flex;
  height: 50rem;
}

#left {
  padding-left: 22%;
  padding-top: 3rem;
  min-width: 18%;
  max-width: 20%;
}

#right {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 3rem;
  width: 50%;
  overflow: scroll;
}

.bio {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  float: left;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.greeting {
  float: left;
  font-family: 'rubik', sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
}

.summary {
  float: left;
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  min-width: 50%;
}

.contactInfo {
  display: flex;
  float: left;
  padding-top: 3rem;
  font-size: 0.75rem;
}

.contactInfoItems {
  list-style: none;
  padding: 0;
}

ol {
  font-family: 'rubik', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
}

ol:hover {
  background-color: #EFF5FC;
  border-radius: 0.5rem;
}

a { 
  text-decoration: none; 
}

.buttonText {
  color:#333;
}

.buttonText:hover {
  color: #3E56D3;
}

.projectCard1 {
  margin: 2% 5%;
  height: 10rem;
  width: 28rem;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectCard2 {
  margin: 2% 5%;
  height: 10rem;
  width: 28rem;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectCard3 {
  margin: 2% 5%;
  height: 10rem;
  width: 28rem;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectCard4 {
  margin: 2% 5%;
  height: 10rem;
  width: 28rem;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectCard5 {
  margin: 2% 5%;
  height: 10rem;
  width: 28rem;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectCard6 {
  margin: 2% 5%;
  height: 10rem;
  width: 28rem;
  padding-left: 5%;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 8px;
}

.projectTitle {
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding-top: 1rem;
}

.projectTagline {
  font-family: 'rubik', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

/*
.seeMoreButton {
  display: flex;
  height: 2rem;
  width: 28rem;
  margin: 1% 5%;
  box-sizing: border-box;
}

button {
  margin: 0 auto;
  font-family: 'rubik', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  color: #333;
  background-color: #fafaf9;
}

button:hover {
  color: #3E56D3;
}
*/


.projectCard1:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  background: #f47f7f;
  border: 1px solid #f47f7f;
  box-sizing: border-box;
  color: #fff;
}

.projectCard2:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  background: #4e9bf2;
  border: 1px solid #4e9bf2;
  box-sizing: border-box;
  color: #fff;

}

.projectCard3:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  background: #5ac292;
  border: 1px solid #5ac292;
  box-sizing: border-box;
  color: #fff;

}

.projectCard4:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  background: #f5a134;
  border: 1px solid #f5a134;
  box-sizing: border-box;
  color: #fff;
}

.projectCard5:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  background: #e1819e;
  border: 1px solid #e1819e;
  box-sizing: border-box;
  color: #fff;

}

.projectCard6:hover {
  border-radius: 8px;
  border-width: 0.1rem;
  background: #8c6ce3;
  border: 1px solid #8c6ce3;
  box-sizing: border-box;
  color: #fff;
}